# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

## Xcode User settings
xcuserdata/
build/